<div id="search" class="input-group blablabla">
  <span class="input-group-btn">
    <a href="/index.php?route=product/search" class="btn btn-default btn-lg"><i class="fa fa-search"></i></a>
  </span>
</div>