body {
	font-family: 'Montserrat', sans-serif !important;
	font-weight: 400;
	color: #666;
	font-size: 12px;
	line-height: 20px;
	width: 100%;
}
h1, h2, h3, h4, h5, h6 {
	color: #555;
}
/* default font size */
.fa {
	font-size: 14px;
}
/* Override the bootstrap defaults */
h1 {
	font-size: 33px;
}
h2 {
	font-size: 27px;
}
h3 {
	font-size: 24px;
	color:#888;
	line-height: 42.59px;
	font-weight:500;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10.2px;
}
a {
	color: #23a1d1;
}
a:hover {
	text-decoration: none;
}
legend {
	font-size: 18px;
	padding: 7px 0px
}
label {
	font-size: 12px;
	font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 12px;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 12px;
}
.input-group .input-group-addon {
	font-size: 12px;
	height: 30px;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}

.nav-tabs {
	margin-bottom: 15px;
}
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
	text-decoration: none;
	color: #333;
}
/* top */
#top {
	background-color: #EEEEEE;
	border-bottom: 1px solid #e2e2e2;
	padding: 4px 0px 3px 0;
	margin: 0 0 20px 0;
	min-height: 40px;
}
#top .container {
	padding: 0 20px;
}
#top #currency .currency-select {
	text-align: left;
}
#top #currency .currency-select:hover {
	text-shadow: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#top .btn-link, #top-links li, #top-links a {
	color: #888;
	text-shadow: 0 1px 0 #FFF;
	text-decoration: none;
}
#top .btn-link:hover, #top-links a:hover {
	color: #444;
}
#top-links .dropdown-menu a {
	text-shadow: none;
}
#top-links .dropdown-menu a:hover {
	color: #FFF;
}
#top .btn-link strong {
	font-size: 14px;
	line-height: 14px;
}
#top-links {
	padding-top: 6px;
}
#top-links a + a {
	margin-left: 15px;
}
/* logo */

/* search */
#search {
	margin-bottom: 10px;
}
#search .input-lg {
	height: 40px;
	line-height: 20px;
	padding: 0 10px;
}
#search .btn-lg {
	font-size: 15px;
	line-height: 18px;
	text-shadow: 0 1px 0 #FFF;
}
/* cart */
#cart {
	margin-bottom: 10px;
}
#cart > .btn {
	font-size: 12px;
	line-height: 18px;
	color: #FFF;
}
#cart.open > .btn {
	background-image: none;
	background-color: #FFFFFF;
	border: 1px solid #E6E6E6;
	color: #666;
	box-shadow: none;
	text-shadow: none;
}
#cart.open > .btn:hover {
	color: #444;
}
#cart .dropdown-menu {
	background: #eee;
	z-index: 1001;
}
#cart .dropdown-menu {
	min-width: 100%;
}
@media (max-width: 478px) {
	#cart .dropdown-menu {
		width: 100%;
	}
}
#cart .dropdown-menu table {
	margin-bottom: 10px;
}
#cart .dropdown-menu li > div {
	min-width: 427px;
	padding: 0 10px;
}
@media (max-width: 478px) {
	#cart .dropdown-menu li > div {
		min-width: 100%;
	}
}
#cart .dropdown-menu li p {
	margin: 20px 0;
}
/* menu */
#menu {
	min-height: 40px;
}
#menu .nav > li > a {
	color: #333;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	padding: 10px 15px 10px 15px;
	min-height: 15px;
	background-color: transparent;
	text-transform: uppercase;
    transition:0.3s;
}

#language > div > button > span{
	font-size: 14px;
}

#menu .nav > li > a:hover, #menu .nav > li.open > a {
	background-color: rgba(0, 0, 0, 0.1);
    transition:0.3s;
}
#menu .dropdown-menu {
	padding-bottom: 0;
}
#menu .dropdown-inner {
	display: table;
}
#menu .dropdown-inner ul {
	display: table-cell;
}
#menu .dropdown-inner a {
	min-width: 160px;
	display: block;
	padding: 3px 20px;
	clear: both;
	line-height: 20px;
	color: #333333;
	font-size: 12px;
}
#menu .dropdown-inner li a:hover {
	color: #FFFFFF;
}
#menu .see-all {
	display: block;
	margin-top: 0.5em;
	border-top: 1px solid #DDD;
	padding: 3px 20px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 3px 3px;
	font-size: 12px;
}
#menu .see-all:hover, #menu .see-all:focus {
	text-decoration: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#menu #category {
	float: left;
	padding-left: 15px;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
#menu .btn-navbar {
	font-size: 15px;
	font-stretch: expanded;
	color: #FFF;
	padding: 2px 18px;
	float: right;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
}
#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
	color: #ffffff;
	background-color: #229ac8;
}
@media (min-width: 768px) {
	#menu .dropdown:hover .dropdown-menu {
		display: block;
	}
}
@media (max-width: 767px) {
	#menu {
		border-radius: 4px;
	}
	#menu div.dropdown-inner > ul.list-unstyled {
		display: block;
	}
	#menu div.dropdown-menu {
		margin-left: 0 !important;
		padding-bottom: 10px;
		background-color: rgba(0, 0, 0, 0.1);
	}
	#menu .dropdown-inner {
		display: block;
	}
	#menu .dropdown-inner a {
		width: 100%;
		color: #fff;
	}
	#menu .dropdown-menu a:hover,
	#menu .dropdown-menu ul li a:hover {
		background: rgba(0, 0, 0, 0.1);
	}
	#menu .see-all {
		margin-top: 0;
		border: none;
		border-radius: 0;
		color: #fff;
	}
}
/* content */
#content {
	min-height: 600px;
}
/* footer */
footer {
	margin-top: 70px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 12px;
	font-family: Montserrat, sans-serif;
	letter-spacing: 1.44px;
	line-height: 17.97px;
	color: #ffffff;
	font-weight: 400;
	background-color: #222;
	border-top: 1px solid #ddd;
}
footer hr {
	border-top: none;
	border-bottom: 1px solid #666;
}
footer a {
	color: #ffffff;
	padding-right: 20px;
}
footer a:hover {
	color: #fff;
}
footer h5 {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
}
/* alert */
.alert {
	padding: 8px 14px 8px 14px;
}
/* breadcrumb */
.breadcrumb {
	text-align: center;
	margin: 0 0 20px 0;
	padding: 16px 0;
	background: url(/image/breadcrumb.png) center;
	background-size: cover;
}
.breadcrumb a{
	color: #333;
	font-size: 14px;
	font-weight: 400;
	line-height: 20.59px;
	letter-spacing: 0.09px;
}
.breadcrumb-header {
	height: 21px;
	color: #333;
	display: table;
	margin-right: auto;
	margin-left: auto;
	font-size: 30px;
	font-weight: 500;
	line-height: 42.59px;
	/* Text style for "Каталог" */
}
.breadcrumb i {
	font-size: 15px;
}
.breadcrumb > li {
	text-shadow: 0 1px 0 #FFF;
	padding: 0 15px;
	position: relative;
	white-space: nowrap;
}
.breadcrumb > li + li:before {
	content: '';
	padding: 0;
}
.breadcrumb > li:after {
	content: '';
	display: block;
	position: absolute;
	top: 7px;
	right: -4px;
	width: 6px;
	height: 6px;
	border-right: 1px solid #626262;
	border-bottom: 1px solid #626262;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.breadcrumb > li:last-of-type:after {
	content: none; /* Добавляем символ в конце текста */
	color: #c00000; /* Цвет символа */
}
.pagination {
	margin: 0;
}
/* buttons */
.buttons {
	margin: 1em 0;
}
.btn {
	padding: 13px 12px;
	font-size: 12px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn-xs {
	font-size: 9px;
}
.btn-sm {
	font-size: 10.2px;
}
.btn-lg {
	padding: 10px 10px;
	font-size: 15px;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
	font-size: 12px;
}
.btn-group > .btn-xs {
	font-size: 9px;
}
.btn-group > .btn-sm {
	font-size: 10.2px;
}
.btn-group > .btn-lg {
	font-size: 15px;
}
.btn-default {
	color: #777;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-repeat: repeat-x;
	border-color:#fff;
}
.btn-primary {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-color: #1f90bb;
	background-position: 0 -15px;
}
.btn-warning {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #da4f49;
	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-repeat: repeat-x;
	border-color: #bd362f #bd362f #802420;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-success {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #df5c39;
	background-image: linear-gradient(to bottom, #e06342, #dc512c);
	background-repeat: repeat-x;
	border-color: #dc512c #dc512c #a2371a;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background-image: none;
	background-color: #df5c39;
}
.btn-link {
	border-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	color: #23A1D1;
	border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	box-shadow: none;
}
.btn-inverse {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #363636;
	background-image: linear-gradient(to bottom, #444444, #222222);
	background-repeat: repeat-x;
	border-color: #222222 #222222 #000000;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
	background-color: #222222;
	background-image: linear-gradient(to bottom, #333333, #111111);
}
/* list group */
.list-group a {
	border: 1px solid #DDDDDD;
	color: #888888;
	padding: 8px 12px;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
	color: #444444;
	background: #eeeeee;
	border: 1px solid #DDDDDD;
	text-shadow: 0 1px 0 #FFF;
}
/* carousel */
.carousel-caption {
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}
.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}
/* product list */
.product-thumb {
	border: 1px solid #ddd;
	margin-bottom: 20px;
	overflow: auto;
}
.product-thumb .image {
	text-align: center;
}
.product-thumb .image a {
	display: block;
}
.product-thumb .image a:hover {
	opacity: 0.8;
}
.product-thumb .image img {
	margin-left: auto;
	margin-right: auto;
}
.product-grid .product-thumb .image {
	float: none;
}
@media (min-width: 767px) {
	.product-list .product-thumb .image {
		float: left;
		padding: 0 15px;
	}
}
.product-thumb h4 {
	font-weight: bold;
}
.product-thumb .caption {
	padding: 0 20px;
	min-height: 75px;
}
.product-list .product-thumb .caption {
	margin-left: 230px;
}
@media (max-width: 1200px) {
	.product-grid .product-thumb .caption {
		min-height: 210px;
		padding: 0 10px;
	}
}
@media (max-width: 767px) {
	.product-list .product-thumb .caption {
		min-height: 0;
		margin-left: 0;
		padding: 0 10px;
	}
	.product-grid .product-thumb .caption {
		min-height: 0;
	}
}
.product-thumb .rating {
	padding-bottom: 10px;
}
.rating .fa-stack {
	font-size: 8px;
}
.rating .fa-star-o {
	color: #999;
	font-size: 15px;
}
.rating .fa-star {
	color: #FC0;
	font-size: 15px;
}
.rating .fa-star + .fa-star-o {
	color: #E69500;
}
h2.price {
	margin: 0;
}
.product-thumb .price {
	color: #444;
	font-size: 1.5rem;
}
.product-thumb .price-new {
	font-weight: 600;
	font-size: 1.5rem;
}
.product-thumb .price-old {
	color: #999;
	text-decoration: line-through;
	margin-left: 10px;
	font-size: 1.5rem;
}
.product-thumb .price-tax {
	color: #999;
	font-size: 12px;
	display: block;
}
.product-thumb .button-group {
	border-top: 1px solid #ddd;
	background-color: #eee;
	overflow: auto;
}
.product-list .product-thumb .button-group {
	border-left: 1px solid #ddd;
}
@media (max-width: 768px) {
	.product-list .product-thumb .button-group {
		border-left: none;
	}
}
.product-thumb .button-group button {
	width: 60%;
	border: none;
	display: inline-block;
	float: left;
	background-color: #eee;
	color: #888;
	line-height: 38px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
.product-thumb .button-group button + button {
	width: 20%;
	border-left: 1px solid #ddd;
}
.product-thumb .button-group button:hover {
	color: #444;
	background-color: #ddd;
	text-decoration: none;
	cursor: pointer;
}
@media (max-width: 1200px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
@media (max-width: 767px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
.thumbnails {
	overflow: auto;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
}
.thumbnails > li {
	margin-left: 20px;
}
.thumbnails {
	margin-left: -20px;
}
.thumbnails > img {
	width: 100%;
}
.image-additional a {
	margin-bottom: 20px;
	padding: 5px;
	display: block;
	border: 1px solid #ddd;
}
.image-additional {
	max-width: 78px;
}
.thumbnails .image-additional {
	float: left;
	margin-left: 20px;
}

@media (min-width: 1200px) {
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-3:nth-child(4n+1),
	#content .col-lg-4:nth-child(3n+1),
	#content .col-lg-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-3:nth-child(4n+1),
	#content .col-md-4:nth-child(3n+1),
	#content .col-md-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-3:nth-child(4n+1),
	#content .col-sm-4:nth-child(3n+1),
	#content .col-sm-6:nth-child(2n+1) {
		clear:left;
	}
}

/* fixed colum left + content + right*/
@media (min-width: 768px) {
	#column-left  .product-layout .col-md-3 {
		width: 100%;
	}

	#column-left + #content .product-layout .col-md-3 {
		width: 50%;
	}

	#column-left + #content + #column-right .product-layout .col-md-3 {
		width: 100%;
	}

	#content + #column-right .product-layout .col-md-3 {
		width: 100%;
	}
}

/* fixed product layouts used in left and right columns */
#column-left .product-layout, #column-right .product-layout {
	width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
	min-width: 50px;
}

/* Missing focus and border color to overwrite bootstrap */
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background-image: none;
	background-color: #df5c39;
}

/*OPENCART.PRO*/

/*img category*/
.imgcategory .product-thumb.transition > h4 {
	padding-left: 10px;
}

.vertical-center {
	min-height: 100%;
	display: flex;
	align-items: center;
}

.line_html_content{
	color: #007bc3;
}
.width-100-p{
	width: 100%;
}
.f-24{
	font-size: 24px;
}
.f-20{
	font-size: 20px;
}
.f-16{
	font-size: 16px;
}
.f-14{
	font-size: 14px;
}
.f-10{
	font-size: 10px;
}
.pt-10{
	padding-top: 10px;
}
.pt-15{
	padding-top: 15px;
}
.pt-25{
	padding-top: 25px;
}
.pt-30{
	padding-top: 30px;
}
.pb-15{
	padding-bottom: 15px;
}
.pb-20{
	padding-bottom: 20px;
}
.pb-30{
	padding-bottom: 30px;
}
.pb-100{
	padding-bottom: 100px;
}
.pb-130{
	padding-bottom: 130px;
}
.mb-30{
	margin-bottom: 30px;
}
.mb-60{
	margin-bottom: 60px;
}
.mb-80{
	margin-bottom: 80px;
}
@media (max-width: 768px) {
	.mb-sm-30{
		margin-bottom: 30px;
	}
}
.mb-100{
	margin-bottom: 100px;
}
.mb-130{
	margin-bottom: 130px;
}
.mb-190{
	margin-bottom: 190px;
}
.pl-20{
	padding-left: 20px;
}
.pr-20{
	padding-right: 20px;
}
.mlr-auto{
	margin-left: auto;
	margin-right: auto;
}
.html-content-bottom{
	color: #000000;
	font-family: Montserrat, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 26.94px;
}
.footer-text-height{
	height: 27px;
}
.carousel-inner::before{
	content: url('/image/catalog/icons/test_l.png');
	float: left;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}
.carousel-inner::after{
	content: url('/image/catalog/icons/test_r.png');
	float: right;
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
}
.container-full-width{
	margin-right: 50px;
	margin-left: 50px;
}
@media (max-width: 992px) {
	.text-center-mobil{
		text-align: center!important;
	}
	.container-full-width{
		margin-right: 15px;
		margin-left: 15px;
	}
}
.btn-go-more{
	max-width: 250px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
@media (min-width: 992px) {
	.popular-product .btn-go-more{
		height: 45px;
		padding: 10px;
		border: 2px solid #017bc3;
		font-size: 16px;
		transition: .5s;
		opacity: 0;
	}
	.popular-product:hover .btn-go-more{
		padding: 10px;
		border: 2px solid #017bc3;
		font-size: 16px;
		height: 45px;
		color: #017bc3;
		opacity: 1;
	}
	.featured-product:hover .btn-go-more{
		padding: 10px;
		border: 2px solid #017bc3;
		font-size: 16px;
		height: 45px;
		color: #017bc3;
		opacity: 1;
	}
	.featured-product .btn-go-more{
		height: 45px;
		padding: 10px;
		border: 2px solid #017bc3;
		font-size: 16px;
		transition: .5s;
		opacity: 0;
	}
}
.contact-form-top{
	margin-left: auto;
	margin-right: auto;
	max-width: 350px;
}
.contact-form-top input{
	height: 50px;
	margin-bottom: 15px;
	border-radius: 40px;
	width: 100%;
}

.contact-form-top input[type="button"]{
	margin-top: 10px;
	font-size: 16px;
}
.contact-form-top-col{
	border: 2px solid #017bc4;;
	border-left: none;
	border-right: none;
	min-height: 500px;
}

.blablabla .qweqwe{width: 0;
	padding: 0 !important;
	border: none;
	transition: 0.5s;}

.blablabla:hover .qweqwe{width: 200px;
	padding: 10px !important;
	border: 1px solid #ccc;}

.search-final{    width: 10%;
	display: inline-block;}

#search > input{position:absolute;}

#search > span > button{box-shadow:none;}

#logo > a > img{display:inline-block;}

#logo > a > div{display:inline-block;}
.contact-form-title{
	font-size: 35px;
	line-height: 39.41px;
	color: #000000;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 15px;
}
.contact-form-description{
	font-size: 16px;
	text-align: center;
	line-height: 25px;
	margin-bottom: 45px;
}
#slideshow0 > div.owl-controls > .owl-pagination{
	display: none!important;
}
#slideshow0 .owl-wrapper-outer{
	min-height: 500px;
	height: 500px;
}
.img-responsive-v2{
	display: block;
	max-width: 100%;
	height: 100%;
	object-fit: cover;
}
.border-none{
	border: none!important;
}
.dp-style > a {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 0;
}
.dp-style > ul {
	float: left;
	margin-top: 2px;
	min-width: 325px;
}
.dp-style>.dropdown-menu {
	display: none;
}
.dp-style:hover>.dropdown-menu {
	display: block;
}

body > header > div > div > div:nth-child(3) > div > div.dropdown.dp-style > a{
	color: #333333;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 400;
}

#menu{margin-bottom:0;}

@media (min-width:800px){.header-cols{height:80px;}}

@media (max-width:1400px){#menu .nav > li > a{padding: 10px 10px 10px 10px;}}

@media (max-width:1200px){#menu .nav > li > a{padding: 10px 5px 10px 5px;} .logo-text{display:none !important;} .btn-lg{padding:10px 0 !important;} }


.header-menu-100{width:100%;}

#menu{width:100%;}

.fw-600{font-weight:600 !important;}

.dropdown-text{font-family: Montserrat,sans-serif;
	font-size: 12px;
	font-weight: 300;
	color: #333333}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{background-color:#fff;}

.dropdown-menu li a{color:#333;}

body > header > div > div > div:nth-child(3) > div > div.dropdown.dp-style > ul > li:nth-child(4), body > header > div > div > div:nth-child(3) > div > div.dropdown.dp-style > ul > li:nth-child(2){
	background-color:#f2f2f2;
}

.logo-text{color:#333;}

.fs-24{font-size:24px;}
.fs-16{font-size:16px;}

.fa-phone, .fa-map-marker{color: #007ac3;}

.dropdown-menu{padding:0 0;}

@media(max-width:425px){#menu-button{float:none !important;background-color:#fff !important;color:#333333 !important; background-image: none !important;border:none !important;box-shadow: none;} .menu-li-mobile{text-align:left;border-bottom:1px solid #999;}}

.html-content-bottom div, .html-content-bottom a{
	width: 100%;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{    outline: none !important;}
.display-table{
	display: table;
}
#coolbanner0{
	margin-bottom: 30px;
}
.html-content-bottom div, .html-content-bottom a{
	width: 100%;
}

#menu > div.navbar-collapse.navbar-ex1-collapse.displaynone-1024.collapse.in > ul > li:nth-child(7){border:none;}

#language > div > button{color:#333;}

.displaynonetabletka{display:inline-block;}

@media (min-width:500px) and (max-width:800px){.fa-phone{margin-left:50px; margin-bottom: 10px;} #language > div > button{padding:0;} .dp-style > a{padding-bottom:5px;padding-top:3px;} .displaynonetabletka{display:none;} #logo{padding:10px;} .mt-15{margin-top:15%;} #menu-button{margin-right:0;}}

.caption p a{font-size:14px;color:#000;}

.price{font-size:20px;}

.pagination>li>a, .pagination>li>span{
	border-radius: 40px;
	padding: 11px 16px;
	margin-right: 5px;
	border: 1px solid #007ac3;
	color: #007ac3;
}
.pagination>li:first-child>a, .pagination>li:last-child>a, .pagination>li:first-child>span, .pagination>li:last-child>span{
	border-radius: 40px;
	padding: 11px 16px;
}
.pagination .active span{
	border: 1px solid #cccccc;
	color: #cccccc;
	background-color: #ffffff;
}
#language > div > ul{
	left: unset;
	right: 0;
	min-width: 40px!important;
}

@media (min-width:768px) and (max-width:800px){
	#menu > div.collapse.navbar-collapse.navbar-ex1-collapse.displaynone-1024{padding:0;}
	#menu .nav > li > a{font-size:12px;}
	body > header > div > div > div.col-xs-12.col-sm-7.col-md-6.header-cols.vertical-center{padding:0;}
}

#search > span > a{
	border: none !important;
	box-shadow:none;
}

.contact-page-input{
	text-align:left !important;
}

.box-shadow-none{box-shadow: none;}

.text-align-center{text-align: center}

address{margin-top:22px;color:#777;}

.border-left{border-left:0.5px solid #007ac361;}

.cityname{font-size:20px; margin-top: 10px;color: #333333;letter-spacing: 0.79px;}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{border-top:none;}

.slick-slide a img{ height: 228px;max-height: 228px;}

.thumbnails{overflow:hidden;}

.slick-slide{margin-left:20px;margin-right:20px;}
.oneclickbutton input{font-family: 'Montserrat', sans-serif !important;border-radius:0px;width:200px !important;}

.oneclickbutton:before{content: "\f15b";padding: 14px;position: absolute;color:#fff;}
.price{display:none !important;}
.image-cover-center{
	object-fit: cover;
	object-position: center;
	width: 100%;
	display: block;
	height: 200px;
}

.slick-track{float:left;}
h3, .h3{text-transform:uppercase;}
/*.poloska-dla-kart{*/
/*background: #ffffff;*/
/*height: 47px;*/
/*width: 101%;*/
/*left: -1px;*/
/*border: none;*/
/*position: relative;*/
/*z-index: 2;*/
/*}*/
/*#iframe-map-id{*/
/*z-index: 1;*/
/*position: relative;*/
/*top: -46px;*/
/*}*/

.categorywall_thumbnail img {
	transition: 500ms;
	padding-top: 20px;
	padding-bottom: 20px
}

.categorywall_thumbnail:hover img {
	transition: 500ms;
	padding-top: 20px;
	padding-bottom: 20px;
	transform: scale(1.1);
}

.color666{color:#666 !important;}

.mr-5{margin-right: 5px;}
.mb-10{margin-bottom: 10px;}

.mt-20{margin-top:20px;}

.fs-14{font-size:14px;}
.fs-18{font-size:18px;}

.telephone-contacts{width:350px;}

.formcontacts{width:600px;margin-left: auto;margin-right: auto;}

#h1product{font-size: 24px;letter-spacing: -0.07px;color: #333333;font-weight: 500;line-height: 42.59px;}

.attributegroupname{font-size: 14px;color: #111111;line-height: 42.59px;}
.attributegrouptext{color: #555555;font-size: 14px;font-weight: 300;}

.center h3{margin:0;}

@media (max-width:500px){.telephone-contacts{left:-28px;}}
@media (min-width:501px){.telephone-contacts{left:-220px;}}